﻿<%@ Page Title="" Language="C#" MasterPageFile="~/applicant/UserMaster.Master" AutoEventWireup="true" CodeBehind="myjobapplication.aspx.cs" Inherits="IDP_Project_01.applicant.myjobapplication" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    
    <h2>My Applications</h2><br />
    <asp:GridView ID="GridView1" runat="server" AutoGenerateColumns="False">
        <Columns>
            <asp:BoundField DataField="Applicationid" HeaderText="Application ID" />
            <asp:BoundField DataField="Applicationdt" HeaderText="Application Date" />
            <asp:BoundField DataField="Test_Score" HeaderText="Test Score" />
            <asp:BoundField DataField="Application_Status" HeaderText="Application Status" />
        </Columns>
    </asp:GridView>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</asp:Content>
