﻿<%@ Page Title="" Language="C#" MasterPageFile="~/applicant/UserMaster.Master" AutoEventWireup="true" CodeBehind="test.aspx.cs" Inherits="IDP_Project_01.applicant.test" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    
    <br />
    <asp:Label ID="lbltest" runat="server"></asp:Label>
    <br />
    <br />
    <asp:Label ID="lblq" runat="server" Text="Q- "></asp:Label>
    <asp:Label ID="lblquestion" runat="server" ForeColor="Red"></asp:Label>
    <br />
    <asp:Label ID="lblco" runat="server" Text="Choose Option:"></asp:Label>
    <br />
    <br />
    <asp:RadioButton ID="rdboption1" runat="server" GroupName="options" />
    <br />
    <asp:RadioButton ID="rdboption2" runat="server" GroupName="options" />
    <br />
    <asp:RadioButton ID="rdboption3" runat="server" GroupName="options" />
    <br />
    <asp:RadioButton ID="rdboption4" runat="server" GroupName="options" />
    <br />
    <br />
    <asp:Button ID="btnsubmit" runat="server" OnClick="btnsubmit_Click" Text="Submit" />
    <br />
    <asp:Label ID="CorrectAns" runat="server"></asp:Label>
    <br />
    <asp:Label ID="lblscore" runat="server"></asp:Label>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</asp:Content>
