﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="hrmaster.master.cs" Inherits="IDP_Project_01.hr.hrmaster" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
     <!-- Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/light-bootstrap-dashboard790f.css?v=2.0.1" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="assets/css/demo.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/custome.css" rel="stylesheet" />
    <!-- Google Tag Manager --> 



    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div class="wrapper">
        <div class="sidebar" data-image="assets/img/sidebar-4.jpg">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="Dashboard_hr.aspx" class="simple-text">
                        Your Project Name
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="Dashboard_hr.aspx">
                            <i class="fa fa-dashboard"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="Manage_job.aspx">
                            <i class="fa fa-group"></i>
                            <p>Manage Jobs</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="postjob.aspx">
                            <i class="fa fa fa-edit"></i>
                            <p>Post Jobs</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="CheckApplication.aspx">
                            <i class="fa fa-group"></i>
                            <p>Check Applications</p>
                        </a>
                    </li>
                  

                    <li>
                        <a class="nav-link" href="SelectCandidates.aspx">
                            <i class="fa fa fa-thumbs-o-up"></i>
                            <p>Select Candidates</p>
                        </a>
                    </li>

                    <li>
                        <a class="nav-link" href="logouthr.aspx">
                            <i class="fa fa-lock"></i>
                            <p>Logout</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class=" container-fluid  ">
                    <a class="navbar-brand" href="#pablo"> Dashboard </a>
                    <button href="#" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        
                        <ul class="navbar-nav ml-auto">
                            
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="AdminHome.aspx" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="no-icon">

                                        <asp:Label ID="Label1" runat="server" Text="HR"></asp:Label>
                                    </span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="profile.aspx">Update Profile</a>
                                    <a class="dropdown-item" href="ChangePassword.aspx">Update Password</a>
                                    <div class="divider"></div>
                                    <a class="dropdown-item" href="Logout.aspx">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
                

           <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
   

            <footer class="footer">
                <div class="container">
                    <nav>
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            <a href="#">CV Shortlist Project</a>, made by Team.
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>
    </form>
</body>
    <!--   Core JS Files   -->
<script src="assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="assets/js/core/bootstrap.min.js" type="text/javascript"></script>

<script src="assets/js/light-bootstrap-dashboard790f.js?v=2.0.1" type="text/javascript"></script>
<script src="assets/js/demo.js"></script>

</html>
